In [14]:
import numpy as np
import pandas as pd
import nltk
from pattern.text.en import singularize

#### The singularize command from the pattern library is enough to convert the scripts

In [11]:
singularize("Diseases, viruses, covid patients")

'Diseases, viruses, covid patient'

In [26]:
infile = "../data/processed_terms/ncbi_mergedterms_disease_covid_grm_lex.xlsx"

In [27]:
df = pd.read_excel(infile)
df

                                                  TERM INCLUDE
0                   disease caused by SARS-CoV-2 virus       y
1    infectious respiratory disease caused by sever...       y
2                    Wuhan Novel Coronavirus Infection       y
3                Coronavirus 2019 (COVID-19) Infection       y
4                   presymptomatic COVID-19 infections       n
..                                                 ...     ...
284  acute respiratory syndrome coronavirus 2 (SARS...       y
285              Disease due to 2019 Novel Coronavirus       y
286  infections caused by severe acute respiratory ...       y
287  severe acute respiratory syndrome coronavirus ...       y
288  disease caused by severe acute respiratory syn...       y

[289 rows x 2 columns]

In [31]:
df2 = df[df["INCLUDE"]=="y"]
df2

                                                  TERM INCLUDE
0                   disease caused by SARS-CoV-2 virus       y
1    infectious respiratory disease caused by sever...       y
2                    Wuhan Novel Coronavirus Infection       y
3                Coronavirus 2019 (COVID-19) Infection       y
7                       virus-2 (SARS-CoV-2) infection       y
..                                                 ...     ...
284  acute respiratory syndrome coronavirus 2 (SARS...       y
285              Disease due to 2019 Novel Coronavirus       y
286  infections caused by severe acute respiratory ...       y
287  severe acute respiratory syndrome coronavirus ...       y
288  disease caused by severe acute respiratory syn...       y

[229 rows x 2 columns]

KeyError: 'INLCUDE'

In [29]:
df[df["INCLUDE"]=="y"]

                                                  TERM INCLUDE
0                   disease caused by SARS-CoV-2 virus       y
1    infectious respiratory disease caused by sever...       y
2                    Wuhan Novel Coronavirus Infection       y
3                Coronavirus 2019 (COVID-19) Infection       y
7                       virus-2 (SARS-CoV-2) infection       y
..                                                 ...     ...
284  acute respiratory syndrome coronavirus 2 (SARS...       y
285              Disease due to 2019 Novel Coronavirus       y
286  infections caused by severe acute respiratory ...       y
287  severe acute respiratory syndrome coronavirus ...       y
288  disease caused by severe acute respiratory syn...       y

[229 rows x 2 columns]

In [25]:
df

                                                  TERM INCLUDE
0                   disease caused by SARS-CoV-2 virus       y
1    infectious respiratory disease caused by sever...       y
2                    Wuhan Novel Coronavirus Infection       y
3                Coronavirus 2019 (COVID-19) Infection       y
4                   presymptomatic COVID-19 infections       y
..                                                 ...     ...
284  acute respiratory syndrome coronavirus 2 (SARS...       y
285              Disease due to 2019 Novel Coronavirus       y
286  infections caused by severe acute respiratory ...       y
287  severe acute respiratory syndrome coronavirus ...       y
288  disease caused by severe acute respiratory syn...       y

[289 rows x 2 columns]